@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "./compras.css";

/* start tab styling */
.tabs {
  background-color: rgb(199 212 222/50%);
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.tab {
  padding-top: 16px;
  padding-bottom: 10px;
  text-align: center;
  width: 50%;
  border-bottom: 3px solid rgb(199 212 222/0%);
  transition: border-bottom .3s;
}

.tab.active{
  background-color: white;
  border-bottom: 3px solid #F1C40F;
  }

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* end */
* {
  font-family: "Roboto", sans-serif;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

body {
  min-height: 100vh;
}

.icon-header {
  height: 72px;
  width: 72px;
}

h1,
p {
  /* text-align: center; */
  width: 100%;
  font-weight: 400;
}

h1 {
  color: white;
  margin-bottom: 4px;
}

#subtitle{
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #1e2a36;
}

p {
  font-size: 20px;
  color: #1e2a36;
  padding-left: 2px;
}

#upper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin: 15px;
  text-decoration: none;
}

.input {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.input-title {
  text-align: center;
}

.calendar-label {
  margin-bottom: 5px;
  display: block;
  text-align: center;
  font-weight: 500;
}

#error {
  width: 100%;
  color: red;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.calculate {
  color: white;
  background-color: #F1C40F;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  margin: 15px 0px 15px;
  box-shadow: rgb(0 0 0 / 70%) 1px 7px 28px -15px;
}

#input-list::-webkit-scrollbar {
  width: 6px;
}

#input-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: none;
}

.componentWrapper {
  position: relative;
  width: 100%;
  margin: 15px 0px;
  height: auto;
  box-sizing: border-box;
}

.componentWrapper .header {
  position: absolute;
  margin-top: -10px;
  margin-left: 5px;
  color: rgb(22, 29, 64);
  background: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: 500;
}

.number-input {
  border: 2px solid rgb(239, 239, 239);
  border-radius: 5px;
  margin-left: 0px;
  color: black;
  font-size: 16px;
  width: 100%;
  padding: 16px;
  padding-left: 25px;
  box-sizing: border-box;
}

.salary {
  position: absolute;
  top: 16px;
  left: 12px;
  border: 0;
  color: grey;
  font-size: 16px;
  pointer-events: none;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.output {
  text-align: left;
  margin: 10px;
  font-size: 16px;
  padding-top: 19px;
}

.tweet-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 175px;
  height: 30px;
  text-decoration: none;
  color: white;
  background-color: #1da1f2;
  border-radius: 10px;
  padding: 5px;  
  margin-top: 10px;
  margin-bottom:20px;
}

#tweet-button > img {
  margin-left: 5px;
}

#footer-anchor {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

label>input {
  font-weight: 600;
}

@media only screen and (min-width: 540px) {
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C3E50;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    background-color: #1e2a36;
    width: 100%;
    height: 200px;
  }
  
  .box {
    margin-top: 0px;
    margin-bottom: 32px;
    padding: 0px 0px 32px;
    border-radius: 0px 0px 10px 10px;
    min-width: 350px;
    max-width: 700px;
    box-shadow: 1px 7px 30px -10px rgb(0 0 0 / 77%);
  }

  .tax, .price {
    padding: 16px 64px;
   }
  
  h1 {
    width: 340px;
    margin-top: 0;
    color: white;
    margin-bottom: 4px;
    font-size: 4em;
    padding-left: 5px;
  }  

  #upper {
    padding: 15px;
  }

  .input {
    margin: 15px 0px;
  }

  .input-title {
    margin-bottom: 5px;
  }

  .calculate {
    margin: 5px 0px 15px;
  }

  .calculate>span {
    display: inline;
  }

  .output {
    width: 537px;
  }

  #footer-anchor {
    color: white;
  }

  canvas {
    max-height: 300px;
    width: 100%;
    max-width: 700px
  }
}

@media only screen and (max-width: 540px) {
  body {
    display: flex;
    margin: 0;
    width: 100vw;
    background-color:#1e2a36;
  }

  body>div {
    width: 100%;
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    width: 100%;
    height: 200px;
  }

  h1 {
    width: 260px;
    margin-top: 0;
    color: white;
    margin-bottom: 4px;
    font-size: 3em;
    padding-top: 10px;
    padding-left: 5px;
  } 

  .box {
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
  }

  .tax, .price {
    padding: 16px 32px;
   }

  #subtitle {
    font-size: 24px;
    padding: 4px 0px 16px;
    margin: 0;
  }

  #upper {
    padding: 7px 15px;
  }

  .input {
    margin: 20px 0px 20px 0px;
  }

  .input-title {
    margin-bottom: 0px;
  }

  .calculate {
    margin: 10px 5px;
    width: 100%;
  }

  .calculate>span {
    display: block;
  }

  .componentWrapper .header {
    font-size: 14px;
  }

  .output {
    width: 100%;
  }

  #footer-anchor {
    color: white;
  }

  .chart {
    height: 200px;
    width: auto;
  }

  canvas {
    max-height: 300px;
  }
}
